<div ng-init="$ctrl.Init()">
    <md-card>
        <form name="userForm" ng-submit="userForm.$valid && $ctrl.AddOrEditUser()" novalidate>
            <md-card-title>
                <md-card-title-text>
                    <md-toolbar class="md-default _md _md-toolbar-transitions">
                        <div class="md-toolbar-tools">
                            <h3 class="ng-binding ng-isolate-scope">
                                <a class="docs-anchor ng-scope">{{$ctrl.TextoTitulo}} Usuario</a>
                            </h3>
                            <span flex="" class="flex"></span>
                            <div layout-align="right">
                                <md-tooltip md-direction="top">Atrás</md-tooltip>
                                <md-button aria-label="label" class="md-icon-button" ng-click="$ctrl.GoBack()">
                                    <md-icon><i class="material-icons">arrow_back</i></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-toolbar>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content layout-padding layout="row" layout-wrap layout-xs="column">
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100">
                        <label>Nombres</label>
                        <input required name="userName" ng-model="$ctrl.User.name">
                        <div ng-messages="userForm.userName.$error">
                            <div ng-message="required">El nombre es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100">
                        <label>Apellidos</label>
                        <input required name="lastName" ng-model="$ctrl.User.lastname">
                        <div ng-messages="userForm.lastName.$error">
                            <div ng-message="required">Los apellidos son obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100">
                        <label>Email</label>
                        <input type="email" required name="email" ng-model="$ctrl.User.email">
                        <div ng-messages="userForm.email.$error">
                            <div ng-message="required">El email es obligatorio.</div>
                            <div ng-message="email">Ingrese un email válido.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser == 0">
                        <label>Tipo Documento</label>
                        <md-select required name="tipoDoc" placeholder="Tipo Documento" ng-model="$ctrl.User.tipoId">
                            <md-option ng-repeat="option in $ctrl.documentTypes" ng-value="option.type">
                              {{option.name}}
                            </md-option>
                          </md-select>
                        <div ng-messages="userForm.tipoDoc.$error">
                            <div ng-message="required">El tipo documento es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser != 0">
                        <label>Tipo Documento</label>
                        <input required value="{{$ctrl.User.tipoId}}" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser == 0">
                        <label>No. Documento</label>
                        <input required name="noDoc" ng-model="$ctrl.User.numeroId">
                        <div ng-messages="userForm.noDoc.$error">
                            <div ng-message="required">El número de documento es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser != 0">
                        <label>No. Documento</label>
                        <input required value="{{$ctrl.User.numeroId}}" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser == 0">
                        <label>Usuario</label>
                        <input required name="username" ng-model="$ctrl.User.username">
                        <div ng-messages="userForm.username.$error">
                            <div ng-message="required">El nombre de usuario es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser != 0">
                        <label>Usuario</label>
                        <input required value="{{$ctrl.User.username}}" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser == 0">
                        <label>Password</label>
                        <input type="password" required name="password" ng-model="$ctrl.User.password">
                        <div ng-messages="userForm.password.$error">
                            <div ng-message="required">El password es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser == 0">
                        <label>Compañia</label>
                        <!-- <input required name="company" ng-model="$ctrl.User.companyName"> -->
                        <md-select required name="company" placeholder="Compañía" ng-change="$ctrl.getBranches()" ng-model="$ctrl.User.companyId">
                            <md-option ng-repeat="option in $ctrl.Companies" ng-value="option.publicId" ng-selected="option.publicId == $ctrl.User.companyId">
                              {{option.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="userForm.company.$error">
                            <div ng-message="required">La compañia es obligatoria.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100" ng-if="$ctrl.idUser != 0">
                        <label>Compañia</label>
                        <input required value="{{$ctrl.User.companyName}}" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100">
                        <label>Sucursal</label>
                        <!-- <input required name="branch" ng-model="$ctrl.User.branchName"> -->
                        <md-select required name="branch" placeholder="Sucursal" ng-model="$ctrl.User.branchId">
                            <md-option ng-repeat="option in $ctrl.Branches" ng-value="option.publicId" ng-selected="option.publicId == $ctrl.User.branchId">
                              {{option.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="userForm.branch.$error">
                            <div ng-message="required">La sucursal es obligatoria.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-sm="100" flex-xs="100">
                        <label>Rol</label>
                        <!-- <input required name="rol" ng-model="$ctrl.User.roleName"> -->
                        <md-select required name="rol" placeholder="Rol" ng-model="$ctrl.User.roleId">
                            <md-option ng-repeat="option in $ctrl.Roles" ng-value="option.publicId" ng-selected="option.publicId == $ctrl.User.roleId">
                              {{option.role}}
                            </md-option>
                          </md-select>
                        <div ng-messages="userForm.rol.$error">
                            <div ng-message="required">El rol es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                        <md-switch name="activo" ng-model="$ctrl.User.active">Habilitado</md-switch>
                    </md-input-container>
                </md-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="buttonSave">
                <md-button class="md-raised md-primary" type="submit">{{$ctrl.TextoBotonAccion}}</md-button>
            </md-card-actions>
        </form>
    </md-card>
</div>