<div ng-init="$ctrl.Init()">

    <md-grid-list class="adminList" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1"
        md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile ng-repeat="modulo in $ctrl.Modulos" ng-click="$ctrl.CargarModulo(modulo.url)" class="repeat-item {{modulo.class}}">
            <img alt="{{modulo.alt}}" ng-src="{{modulo.icon}}" />
            <md-grid-tile-footer>
                <h3>{{modulo.nombre}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        </md-grid-list>

</div>