<div ng-init="$ctrl.Init()">
    <md-card>
        <form name="form" ng-submit="form.$valid && $ctrl.AddOrEditResponseType()" novalidate>
            <md-card-title>
                <md-card-title-text>
                    <md-toolbar class="md-default _md _md-toolbar-transitions">
                        <div class="md-toolbar-tools">
                            <h3 class="ng-binding ng-isolate-scope">
                                <a class="docs-anchor ng-scope">{{$ctrl.TextoTitulo}} Tipo Respuesta</a>
                            </h3>
                            <span flex="" class="flex"></span>
                            <div layout-align="right">
                                <md-tooltip md-direction="top">Atrás</md-tooltip>
                                <md-button aria-label="label" class="md-icon-button" ng-click="$ctrl.GoBack()">
                                    <md-icon><i class="material-icons">arrow_back</i></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-toolbar>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content layout-padding layout="row">
                    <md-input-container class="md-block" flex="70">
                        <label>Tipo Respuesta</label>
                        <input required name="responseType" ng-model="$ctrl.ResponseType.Tipo">
                        <div ng-messages="form.responseType.$error">
                            <div ng-message="required">EL tipo de respuesta es obligatorio.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="30">
                        <md-checkbox name="activo" ng-model="$ctrl.ResponseType.Activo">
                            Activa
                        </md-checkbox>
                    </md-input-container>

                </md-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" type="submit">{{$ctrl.TextoBotonAccion}}</md-button>
            </md-card-actions>
        </form>
    </md-card>
</div>