<div ng-init="$ctrl.Init()">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <md-toolbar class="md-default _md _md-toolbar-transitions">
                    <div class="md-toolbar-tools">
                        <h3 class="ng-binding ng-isolate-scope">
                            <a class="docs-anchor ng-scope">Tipos Respuesta</a>
                        </h3>
                        <span flex="" class="flex"></span>
                        <div layout-align="right">
                            <md-button aria-label="nuevoTipoRespuesta" class="md-icon-button">
                                <md-tooltip md-direction="top">Nuevo Tipo Respuesta</md-tooltip>
                                <a href="cd/admin/tiposRespuesta/0"><md-icon><i class="material-icons">add</i></md-icon></a>
                            </md-button>

                            <md-button aria-label="volver" class="md-icon-button">
                                <md-tooltip md-direction="top">Atras</md-tooltip>
                                <a href="cd/admin"><md-icon><i class="material-icons">arrow_back</i></md-icon></a>
                            </md-button>
                        </div>
                    </div>
                </md-toolbar>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-card style="margin:0px">
                <md-input-container style="margin:15px;">
                    <label>Ingresa tu busqueda para filtrar los resultados.</label>
                    <input type="text" ng-model="$ctrl.filterBox">
                </md-input-container>

                <div ng-hide="true">
                    {{(filteredItems = ($ctrl.ResponseTypes | filter: $ctrl.filterBox))}}
                </div>
            </md-card>

            <mdt-table table-card="{visible: true, title: 'Tipos Respuesta', columnSelector: true}"
                       selectable-rows="true"
                       paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
                       alternate-headers="'contextual'"
                       selected-row-callback="$ctrl.selectedRowCallback(rows)"
                       delete-row-callback="$ctrl.deleteSelectedRows(rows)"
                       mdt-row="{
                      data: filteredItems,
                      'table-row-id-key': 'id',
                      'column-keys': [
                          'ResponseType',
                          'Activo',
                          'Id'
                      ]
                      }">
                <mdt-header-row>
                    <mdt-column align-rule="left" column-sort="true"><p>Tipo Respuesta</p></mdt-column>
                    <mdt-column align-rule="left" column-sort="true"><p>Activa</p></mdt-column>
                    <mdt-column align-rule="left"><p>Editar</p></mdt-column>
                </mdt-header-row>
                <mdt-custom-cell column-key="Activo">
                    <md-checkbox class="chRepeat" type="checkbox" role="checkbox" ng-checked="{{value}}" aria-label="activo" ng-disabled="true" />
                </mdt-custom-cell>
                <mdt-custom-cell column-key="Id">
                    <a href="cd/admin/tiposRespuesta/{{value}}"><md-icon><i class="material-icons">mode_edit</i></md-icon></a>
                </mdt-custom-cell>
            </mdt-table>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">

        </md-card-actions>
    </md-card>
</div>