<div ng-init="$ctrl.Init()">
    <md-card>
        <form name="form" ng-submit="form.$valid && $ctrl.AddOrEditQuestion()">
            <md-card-title>
                <md-card-title-text>
                    <md-toolbar class="md-default _md _md-toolbar-transitions">
                        <div class="md-toolbar-tools">
                            <h3 class="ng-binding ng-isolate-scope">
                                <a class="docs-anchor ng-scope">{{$ctrl.TextoTitulo}} Pregunta</a>
                            </h3>
                            <span flex="" class="flex"></span>
                            <div layout-align="right">
                                <md-tooltip md-direction="top">Atrás</md-tooltip>
                                <md-button aria-label="label" class="md-icon-button" ng-click="$ctrl.GoBack()">
                                    <md-icon><i class="material-icons">arrow_back</i></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-toolbar>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content layout-padding layout="row">
                    <md-card md-theme="default" md-theme-watch flex="100" flex-sm="100" flex-xs="100">
                        <md-card-content layout-gt-sm="column" layout-gt-md="row" layout-align="space-between">
                            <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                <label>Pregunta</label>
                                <textarea required name="questionName" ng-model="$ctrl.Pregunta.question" md-maxlength="200" rows="2" md-select-on-focus></textarea>
                                <div ng-messages="form.questionName.$error">
                                    <div ng-message="required">La pregunta es obligatoria.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                <label>Habilitada</label><br />
                                <md-switch name="activo" ng-model="$ctrl.Pregunta.active" aria-label="active"></md-switch>
                            </md-input-container>
                        </md-card-content>
                    </md-card>
                </md-content>
                <md-content layout-gt-sm="column" layout-gt-md="row" flex="100">
                    <md-card md-theme="default" flex-gt-sm="100" flex-gt-md="30">
                        <md-card-content>
                            <span class="md-headline">Tipo de Respuesta</span>
                            <md-input-container class="md-block">
                                <md-radio-group ng-model="$ctrl.typeResponse">
                                    <md-radio-button value="Dicotómica">Dicotómica</md-radio-button>
                                    <md-radio-button value="Politómica">Politómica</md-radio-button>
                                    <md-radio-button value="Numérica">Numérica</md-radio-button>
                                    <md-radio-button value="Alfanumérica">Alfanumérica</md-radio-button>
                                    <md-radio-button value="Fecha">Fecha</md-radio-button>
                                    <md-radio-button value="Multilinea">Multilinea</md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </md-card-content>
                    </md-card>
                    <md-card md-theme="default" flex-gt-sm="100" flex-gt-md="70" ng-show="$ctrl.typeResponse" class="fade2">
                        <md-card-content>
                            <span class="md-headline">Parametros - {{$ctrl.typeResponse}}</span>
                            <div ng-if="$ctrl.typeResponse == 'Dicotómica'">
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Ingresa las dos opciones de respuesta para esta pregunta</label>
                                    <md-chips ng-model="$ctrl.dicotomica" md-removable="true" md-max-chips="2">
                                    </md-chips>
                                </md-input-container>
                            </div>
                            <div ng-if="$ctrl.typeResponse == 'Politómica'">
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Ingresa las opciones de respuesta para esta pregunta</label>
                                    <md-chips ng-model="$ctrl.politomica" md-removable="true">
                                    </md-chips>
                                </md-input-container>
                            </div>
                            <div ng-if="$ctrl.typeResponse == 'Numérica'">
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Hint - Placeholder</label>
                                    <input type="text" ng-model="$ctrl.numeric.placeholder"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Formato</label>
                                    <input type="number" ng-model="$ctrl.numeric.format"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Valor Mínimo</label>
                                    <input type="number" ng-model="$ctrl.numeric.minvalue"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Valor Máximo</label>
                                    <input type="number" ng-model="$ctrl.numeric.maxvalue"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Expresión Regular</label>
                                    <input type="text" ng-model="$ctrl.numeric.regex"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Obligatoria</label><br />
                                    <md-switch ng-model="$ctrl.numeric.required" aria-label="required"></md-switch>
                                </md-input-container>
                            </div>
                            <div ng-if="$ctrl.typeResponse == 'Alfanumérica'">
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Hint - Placeholder</label>
                                    <input type="text" ng-model="$ctrl.alphanumerical.placeholder"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Longitud Mínima</label>
                                    <input type="number" ng-model="$ctrl.alphanumerical.minvalue"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Longitud Máxima</label>
                                    <input type="number" ng-model="$ctrl.alphanumerical.maxvalue"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Expresión Regular</label>
                                    <input type="text" ng-model="$ctrl.alphanumerical.regex"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Obligatoria</label><br />
                                    <md-switch ng-model="$ctrl.alphanumerical.required" aria-label="required"></md-switch>
                                </md-input-container>
                            </div>
                            <div ng-if="$ctrl.typeResponse == 'Fecha'" layout-gt-sm="column" layout-gt-md="row">
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Fecha Minima</label><br />
                                    <md-datepicker ng-model="$ctrl.date.mindate"></md-datepicker>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Fecha Máxima</label><br />
                                    <md-datepicker ng-model="$ctrl.date.maxdate"></md-datepicker>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Abrir al establecer el foco</label><br />
                                    <md-switch ng-model="$ctrl.date.openfocus" aria-label="focus"></md-switch>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Vista de años</label><br />
                                    <md-switch ng-model="$ctrl.date.yearview" aria-label="required"></md-switch>
                                </md-input-container>
                            </div>
                            <div ng-if="$ctrl.typeResponse == 'Multilinea'">
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Hint - Placeholder</label>
                                    <input type="text" ng-model="$ctrl.multiline.placeholder"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Longitud Mínima</label>
                                    <input type="number" ng-model="$ctrl.multiline.minvalue"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Longitud Máxima</label>
                                    <input type="number" ng-model="$ctrl.multiline.maxvalue"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Filas</label>
                                    <input type="number" ng-model="$ctrl.multiline.rows"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                                    <label>Columnas</label>
                                    <input type="number" ng-model="$ctrl.multiline.cols"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Permitir modificar el tamaño</label><br />
                                    <md-switch ng-model="$ctrl.multiline.resize" aria-label="resize"></md-switch>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                                    <label>Obligatoria</label><br />
                                    <md-switch ng-model="$ctrl.multiline.required" aria-label="required"></md-switch>
                                </md-input-container>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="buttonSave">
                <md-button class="md-raised md-primary" type="submit">{{$ctrl.TextoBotonAccion}}</md-button>
            </md-card-actions>
        </form>
    </md-card>
</div>