<div ng-init="$ctrl.Init()">
    <md-card>
        <form name="roleForm" ng-submit="roleForm.$valid && $ctrl.AddOrEditRole()" novalidate>
            <md-card-title>
                <md-card-title-text>
                    <md-toolbar class="md-default _md _md-toolbar-transitions">
                        <div class="md-toolbar-tools">
                            <h3 class="ng-binding ng-isolate-scope">
                                <a class="docs-anchor ng-scope">{{$ctrl.TextoTitulo}} Perfil</a>
                            </h3>
                            <span flex="" class="flex"></span>
                            <div layout-align="right">
                                <md-tooltip md-direction="top">Atrás</md-tooltip>
                                <md-button aria-label="label" class="md-icon-button" ng-click="$ctrl.GoBack()">
                                    <md-icon><i class="material-icons">arrow_back</i></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-toolbar>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content layout-padding flex="100" flex-sm="100" flex-xs="100" layout-gt-sm="column" layout-gt-md="row" layout-align="space-between">
                    <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="70">
                        <label>Nombre Perfil</label>
                        <input required name="roleName" ng-model="$ctrl.Role.role">
                        <div ng-messages="roleForm.roleName.$error">
                            <div ng-message="required">El nombre del perfil es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="100" flex-gt-md="30">
                        <md-switch name="activo" ng-model="$ctrl.Role.active">Habilitado</md-switch>
                    </md-input-container>
                </md-content>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="buttonSave">
                <md-button class="md-raised md-primary" type="submit">{{$ctrl.TextoBotonAccion}}</md-button>
            </md-card-actions>
        </form>
    </md-card>
</div>