﻿* {
    padding: 0;
    margin: 0;
}

body {}


/* Set padding to keep content from hitting the edges */

.body-content {}


/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/

.dl-horizontal dt {}

bodyContainer {
    height: 100% !important;
    position: absolute !important;
    width: 100% !important;
    background: red;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {}

.adminList md-grid-list {
    margin: 8px;
}

.gray {
    background: #f5f5f5;
}

.green {
    background: #2e7d32;
}

.yellow {
    background: #ffc107;
}

.blue {
    background: #03a9f4;
}

.darkBlue {
    background: #0277bd;
}

.deepBlue {
    background: #4fc3f7;
}

.purple {
    background: #673ab7;
}

.lightPurple {
    background: #b39ddb;
}

.red {
    background: #e53935;
}

.pink {
    background: #e91e63;
}

.adminList>md-grid-tile {
    margin-top: 0.5%;
    transition: all 200ms ease-out 40ms;
    cursor: pointer;
}

.adminList>md-grid-tile:hover {
    box-shadow: gray 1px 2px;
}

.adminList>md-grid-tile img {
    padding-bottom: 15%;
    width: 70%;
}

.adminList>md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.28);
    height: 22%;
    margin: 0 auto;
    transition: all 100ms ease-out 10ms;
}

.adminList>md-grid-tile:hover md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.48);
    height: 25%;
}

.adminList>md-grid-tile-footer figcaption {
    width: 100%;
}

.adminList>md-grid-tile-footer>figcaption h3 {
    margin: 0;
    font-weight: 700;
    width: 80%;
    text-align: center;
}

.select {
    cursor: pointer;
}

.text-capitalize {
    text-transform: capitalize;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize;
}

.fabSpeedDialdemoBasicUsage .md-fab:hover,
.fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important;
}

.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem;
}

.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

md-whiteframe {
    background: #fff;
    margin: 30px;
    height: 100%;
}

md-card-actions.buttonSave {}

md-card-actions.buttonSave>button {
    width: 10%;
}

.errors {
    font-size: 12px;
    color: #dd2c00;
    margin-top: 10px;
}

.custom-chips md-chip {
    position: relative;
}

.custom-chips md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px;
}

.custom-chips md-chip .md-chip-remove-container button.vegetablechip {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    transition: background 0.15s linear;
    display: block;
}

.custom-chips md-chip .md-chip-remove-container button.vegetablechip md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
    color: white;
    fill: white;
}

.custom-chips md-chip .md-chip-remove-container button.vegetablechip:hover,
.custom-chips md-chip .md-chip-remove-container button.vegetablechip:focus {
    background: rgba(255, 0, 0, 0.8);
}

.custom-chips md-chips-wrap.md-removable md-chip md-chip-template {
    padding-right: 5px;
}


/*
  Copyright 2016 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
  */

@media (max-width: 599px) {
    md-whiteframe {
        margin: 7px;
        height: 50px;
        background-color: #c8e4fa;
    }
    md-whiteframe>span {
        font-size: 0.4em;
    }
    md-card-actions.buttonSave {
        margin: 0;
    }
    md-card-actions.buttonSave>button {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    md-whiteframe {
        margin: 20px;
        height: 75px;
    }
    md-whiteframe>span {
        font-size: 0.6em;
    }
    md-card-actions.buttonSave {
        margin: 0;
    }
    md-card-actions.buttonSave>button {
        width: 100%;
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    md-whiteframe {
        margin: 20px;
        height: 90px;
        background-color: #fcddde;
    }
    md-whiteframe>span {
        font-size: 0.9em;
    }
    md-card-actions.buttonSave {
        margin: 0;
    }
    md-card-actions.buttonSave>button {
        width: 100%;
    }
}

@media (min-width: 1280px) {
    md-whiteframe {
        margin: 25px;
        height: 100px;
        background-color: #F2FCE2;
    }
    md-whiteframe>span {
        font-size: 1.0em;
    }
}


/*Animatios*/

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity: 0;
}

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity: 1;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slide.ng-enter {
    left: 100%;
}

.slide.ng-enter-active {
    left: 0;
}

.slide.ng-leave {
    left: 0;
}

.slide.ng-leave-active {
    left: -100%;
}

.slidedown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slidedown.ng-enter {
    top: -100%;
}

.slidedown.ng-enter-active {
    top: 0;
}

.slidedown.ng-leave {
    top: 0;
}

.slidedown.ng-leave-active {
    top: 100%;
}

.slidedownNormal {
    position: absolute;
    top: 0;
    left: 21%;
    width: 100%;
    height: 95%;
}

.slidedownNormal.ng-enter,
.slidedownNormal.ng-leave {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.slidedownNormal.ng-enter {
    top: -100%;
}

.slidedownNormal.ng-enter-active {
    top: 0;
}

.slidedownNormal.ng-leave {
    top: 0;
}

.slidedownNormal.ng-leave-active {
    top: 100%;
}

.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slideup.ng-enter {
    top: 100%;
}

.slideup.ng-enter-active {
    top: 0;
}

.slideup.ng-leave {
    top: 0;
}

.slideup.ng-leave-active {
    top: -100%;
}

.pop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.pop.ng-enter {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.pop.ng-enter-active,
.pop.ng-leave,
.pop.ng-leave-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    opacity: 1;
}

.fade.ng-leave-active {
    opacity: 0;
}

.fade2 {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.fade2.ng-hide {
    opacity: 0;
}

.fade2.ng-show {
    opacity: 1;
}

.content {
    -webkit-transition: -webkit-transform 1s;
    -webkit-perspective: 600px;
}

.content .flip {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
}

.content .flip.ng-enter {
    -webkit-transform: rotateY(-180deg);
}

.content .flip.ng-enter-active {
    -webkit-transform: rotateY(0deg);
}

.content .flip.ng-leave {
    -webkit-transform: rotateY(0deg);
}

.content .flip.ng-leave-active {
    -webkit-transform: rotateY(180deg);
}

.rotate {
    -webkit-animation-duration: 1s;
}

.ng-leave.rotate {
    -webkit-animation-name: rotate-leave;
}

.ng-enter.rotate {
    -webkit-animation-name: rotate-enter;
}

@-webkit-keyframes rotate-leave {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
}

@-webkit-keyframes rotate-enter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
        opacity: 1;
    }
}

.slide-pop {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide-pop.ng-enter,
.slide-pop.ng-leave {
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.slide-pop.ng-enter {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.slide-pop.ng-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slide-pop.ng-leave {
    left: 0;
    opacity: .5;
}

.slide-pop.ng-leave-active {
    left: -100%;
    opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
    opacity: .5;
    left: -100%;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.reverse .page.slide-pop.ng-enter-active {
    opacity: 1;
    left: 0;
}

.reverse .page.slide-pop.ng-leave {
    opacity: .5;
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 0;
    right: 0;
}

.reverse .page.slide-pop.ng-leave-active {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}