<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon ng-click="$ctrl.ToggleSide()"><i class="material-icons">menu</i></md-icon>
      </md-button>

      <h2 flex md-truncate> Cuestionarios Dinámicos</h2>

      <md-menu>
        <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu()">
          <md-icon><i class="material-icons">more_vert</i></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="$ctrl.MiCuenta($event)">
              <md-icon><i class="material-icons">account_circle</i></md-icon>
              Mi Cuenta
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button disabled="disabled" ng-click="">
              <md-icon></md-icon>
              Control Panel
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="$ctrl.LogOut()">
              <md-icon><i class="material-icons">exit_to_app</i></md-icon>
              Cerrar Sesión
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <section flex layout="row" style="height: 100% !important;position: absolute !important;width: 100% !important;">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" ng-class="{'md-locked-open': $ctrl.Pin}" md-is-locked-open="{{$ctrl.Pin}}">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menú
          <md-icon><i class="material-icons" ng-click="$ctrl.PinSideBar()">{{$ctrl.classLock}}</i></md-icon>
        </h1>
      </md-toolbar>
      <md-content class="" role="navigation" flex>
        <md-menu-content width="4">
          <md-menu-item>
            <a href="/cd" class="md-button">
              <md-icon><i class="material-icons">home</i></md-icon>
              Home
            </a>
          </md-menu-item>
          <md-menu-item>
            <a href="/cd/cuestionarios" class="md-button">
              <md-icon><i class="material-icons">assignment</i></md-icon>
              Cuestionarios
            </a>
          </md-menu-item>
          <md-menu-item>
            <a href="/cd/reportes" class="md-button">
              <md-icon><i class="material-icons">assessment</i></md-icon>
              Reportes
            </a>
          </md-menu-item>
          <md-menu-item>
            <a href="/cd/admin" class="md-button">
              <md-icon><i class="material-icons">build</i></md-icon>
              Administracion
            </a>
          </md-menu-item>
        </md-menu-content>
      </md-content>

    </md-sidenav>
    <md-content flex layout-padding class="bodyContainer">
      <div layout="column" layout-align="top left">
        <div class="slidedown" style="padding:1%;" ng-view></div>
      </div>
      <div flex></div>
    </md-content>
  </section>