<md-card flex-gt-sm="50" flex-offset-gt-sm="25" ng-init="Init()">
    <img src="images/bn_login.png" class="md-card-image" alt="Cuestionarios Dinámicos">
    <md-card-title>
        <md-card-title-text>
            <md-toolbar class="md-primary _md _md-toolbar-transitions">
                <div class="md-toolbar-tools">
                    <h3 class="ng-binding ng-isolate-scope">
                        <a class="docs-anchor ng-scope">Iniciar Sesión</a>
                    </h3>
                </div>
            </md-toolbar>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="form" ng-submit="form.$valid && $ctrl.SigIn()" novalidate>
            <div layout="column">
                <md-input-container flex-gt-sm="100">
                    <label>Usuario</label>
                    <input type="text" required name="user" ng-model="$ctrl.User.UserName">
                    <div ng-messages="form.user.$error">
                        <div ng-message="required">El usuario es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-input-container flex-gt-sm="100">
                    <label>Password</label>
                    <input type="password" required name="password" ng-model="$ctrl.User.Password">
                    <div ng-messages="form.password.$error">
                        <div ng-message="required">El password es obligatorio.</div>
                    </div>
                </md-input-container>
                <md-input-container flex-gt-sm="100">
                    <md-button type="submit" ng-if="!$ctrl.IniciandoSesion" class="md-raised md-primary">Ingresar</md-button>
                    <md-progress-circular ng-if="$ctrl.IniciandoSesion" md-mode="indeterminate" class="md-hue-2" md-diameter="20px"></md-progress-circular>
                </md-input-container>
            </div>
        </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">

    </md-card-actions>
</md-card>